{%extends 'base.html'%}
{%block body%}
<div class='container'>
<h1 class='bg-warning'>Programming Sprint <h1>
<hr>
<h4 class='text-left bg-info'>Instructions</h4>
    <ul>
        <li><p>The navigation bar is the place for your information (Time, contest status, links, score)</p></li>
        <li><p>Each question has a score associated with it. When you attempt the question correctly it's score is added to your current score. There is no penalty for wrong attempts. You can attempt a question as many times as you want.</p></li>
        <li><p>The score is calculated as (Wrong attempts)/(Total Attempts) on the question by everyone. Hence a tough question has high score and easy one has low score. For first attempt score is 1.0</p></li>
        <li><p>You can use any language that you like. eg. python2 for Q1 and java for Q3. There is no language restriction.</p></li>
        <li><p>The practice questions will help you understand how the contest works. They have 0 marks and can be attempted before the contest starts.</p></li>
        <li><p>Contest questions can only be seen once the contest is active. Practice questions can be seen and attempted at any time.</p></li>
        <li><p>The contest follows the time shown on the navigation bar. All times are with accordance to that.</p></li>
    </ul>

<hr>
<h4 class='bg-info'>Participating</h4>
    <ul>
        <li><a href={% url 'register' %}>Register</a></li>
        <li><a href={% url 'login' %}>Login</a></li>
        <li><a href={% url 'question:home' %}>Questions</a></li>
    </ul>

</div>
{%endblock%}
