{%extends 'base.html'%}
{%block body%}
<div class='lead'>
<h1 class='bg-warning'>Programming Sprint <h1>
<hr>
<h4 class='bg-info'>Instructions</h4>
    <ul>
        <li>The navigation bar is the place for your information</li>
        <li>Each question has a score associated with it.</li>
        <li>Wrong attempts have no negative effect on your current score</li>
        <li>The score is calculated as (Wrong attempts)/(Total Attempts) on the question</li>
        <li>For the first attempt it is 1.0</li>
        <li>Thus the score at each attempt is recalculated per attempt. No ties</li>
        <li>You can use any language that you like. eg. python2 for Q1 and java for Q3</li>
        <li>The practice questions will help you understand how the contest works</li>
    </ul>

<hr>
<h4 class='bg-info'>Participating</h4>
    <ul>
        <li><a href={% url 'register' %}>Register</a></li>
        <li>Login</li>
        <li>Home</li>
    </ul>

</div>
{%endblock%}
