{% extends 'base.html' %}

{% block head %}
    {% load bootstrap %}
{% endblock %}

{%block body%}
{% if successful_registration %}
    <b>{{successful_registration}}</b> was registered.<br>
{% endif %}
<div class='col-md-4 text-center'>
    <form role='form' method="post" action="{% url 'register' %}" class='form'>
        {% csrf_token %}
        {{ form | bootstrap }}
        <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
    </form>
<hr>
</div>
{%endblock%}
