{% extends 'base.html' %}

{% block head %}
    {% load bootstrap %}
{% endblock %}

{%block body%}
{% if form %}
    <div class='col-md-4 text-center'>
    {% if successful_registration %}
        <p class='bg-success'>
        <b>{{successful_registration}}</b> was registered successfully. Please login to start.<br>
        </p>
    {% endif %}

    {% if form.errors %}
        <p class='bg-danger'>Dang! That username is taken. Try another one.</p>
    {% endif %}
        <h2 class='form-heading'>Please Register</h2>
        <form role='form' method="post" action="{% url 'register' %}" class='form text-center'>
            {% csrf_token %}
            {{ form | bootstrap }}
            <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        </form>
    <hr>
    </div>
{% else %}
    <h2 class='text-center bg-warning'> Registrations are closed</h2>
{% endif %}
{%endblock%}
