{% extends 'base.html' %}

{% block head %}
    {% load bootstrap %}
{% endblock %}

{%block body%}
{% if form %}
    <div class='col-md-4'>
    {% if successful_registration %}
        <b>{{successful_registration}}</b> was registered.<br>
    {% endif %}

    {% if form.errors %}
        <p class='bg-danger'>Dang! the username is taken. Try another one.</p>
    {% endif %}

        <form role='form' method="post" action="{% url 'register' %}" class='form text-center'>
            {% csrf_token %}
            {{ form | bootstrap }}
            <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        </form>
    <hr>
    </div>
{% else %}
    <h2 class='text-center bg-warning'> Registrations are closed</h2>
{% endif %}
{%endblock%}
