{%extends 'base.html'%}
{%block title%}Question {{question.qno}}{%endblock%}
{% block style %}
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
{% endblock %}

{%block body%}
    <div class='container text-left'>
        {% if questions %}{# if it is a list of questions #}
            <div class='row'>
                <h3 class='text-primary'>Questions</h3>
                <b>Questions in green are practice questions and carry no marks.</b>
            </div>

            <ol class='col-md-5'>
                {% for ques in questions %}
                    <li class='bg-{% if ques.practice %}success
                                  {% else %}danger
                                  {% endif %}'>
                    <a href={{ ques.get_absolute_url }}>{{ques.title}}</a></li>
                {% endfor %}
            </ol>
        {% elif question %}{# if it is an individual question #}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-toggle="tab" href="#question_attempt">Question</a></li>
                <li role="presentation"><a data-toggle="tab" href="#attempt_history">Attempt History</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="question_attempt">
                    <p class='lead'>{{question.qno}}: {{question.title}}</p>
                    <p class='bg-warning'>Marks on page load: {{marks}}</p>
                    <pre>{{question.text}}</pre>
                    <hr>
                    <form role='form' action={%url "question:question" question.qno %} method='post'>
                        {%csrf_token%}
                        {%load bootstrap%}
                        {{answer_form|bootstrap}}
                        <input type='submit' class='btn btn-success' value='Submit'></input>
                    </form>
                </div>
                <div class="tab-pane fade" id="attempt_history">
                    <div class='table-responsive'>
                        <table class='table table-hover'>
                            <thead><tr>
                                <th>Attempt Details</th>
                                <th>Time-Stamp</th>
                                <th>Marks</th>
                                <th>Remarks</th>
                            </tr></thead>
                            <tbody>
                                {%for a in attempts%}
                                    <tr>
                                        <td><a href={{a.get_absolute_url}}> See attempt no {{a.pk}}</a></td>
                                        <td>{{a.stamp}}</td>
                                        <td>{{a.marks}}</td>
                                        <td><pre>{{a.remarks}}</pre></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                </div>
        </div>
        {% endif %}
    </div>
{%endblock%}
